.star {
    color: rgb(215, 45, 48);
    font-size: 11px !important;
}

.w95, .form-control {
    width: 95% !important;
}

.colorGreen {
    color: green;
}

.mb6 {
    margin-bottom: 6px;
}

.createTask {
    padding-right: 23px;
}

.linkTask {
    padding-right: 10px;
}

.table-condensed {
    width: 100% !important;
}

.width100 {
    width: 100% !important;
}

.muted {
    text-transform: capitalize;
}